<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal Training Journal</title>
    <style>
        body{
            background-color: black;
        }

        h1{
            color: crimson;
        }

    </style>
</head>
<body>
    <h1>Go back to Login Screen</h1>
    <button onclick="window.location.href='/login'">Go back to Login Screen</button>
    <button onclick="window.location.href='/defaultHomepage'">Go to Default Home Page</button>
</body>
</html>